@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
html {
	scroll-behavior: smooth;
	background: #0E0F34;
	color: #FFFFFF;
	font-family: 'Ubuntu', "sans-serif";
}

::selection {
	background: darkorange;
}

.max-width{
	max-width: 1300px;
	margin: auto;
	padding: 0 80px;
}

/* navbar styling */
.navbar {
	position: absolute;
	width: 100%;
	z-index: 999;
	padding: 5px 0;
	font-family: 'Ubuntu', 'sans-serif';
	transition: all 0.3s ease;
}
.navbar.sticky {
	padding: 0;
}

.navbar .max-width {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar .logo a img{
	width: 90px;
	height: 100px;
	transition: all 0.3s ease;
}

.navbar .logo a span {
	color: darkorange;
	font-weight: 600;
	font-size: 36px;
	margin-left: 15px;
}
.navbar.sticky .logo a span {
	display: block;
	color: #FFF;
	transition: color 0.3s ease;
}

.navbar.sticky .logo img {
	transform: rotate(-90deg);
}

.navbar .menu li {
	list-style: none;
	display: inline-block;
}

.navbar .menu li a {
	display: block;
	color: #FFF;
	margin-left: 25px;
	font-size: 15px;
	font-weight: 500;
	transition: color 0.3s ease;
	text-transform: uppercase;
}

.navbar .menu li a:hover {
	color: darkorange;
}

.scroll-up-btn {
	position: fixed;
	height: 45px;
	width: 42px;
	background: darkorange;
	right: 30px;
	bottom: 10px;
	text-align: center;
	line-height: 45px;
	color: #FFFFFF;
	z-index: 9999;
	font-size: 30px;
	border-radius: 6px;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
}
.scroll-up-btn.show {
	bottom: 30px;
	opacity: 1;
	pointer-events: auto;
}

/* Home section */
.home{
	display: flex;
	height: 100vh;
	color: #FFF;
	min-height: 500px;
	font-family: 'Ubuntu', 'sans-serif';
	justify-content: space-between;
	align-items: center;
	background: url("../img/hero.png")0 200% no-repeat;
}
.home .picture {
	margin: 35px 60px -13px 0;
}
.home .picture img {
	width: 510px;
	object-fit: cover;
}
.home .max-width {
	margin: auto 0 auto 40px;
}
.home .home-content .text-1{
	font-size: 27px;
}
.home .home-content .text-2{
	font-size: 70px;
	font-weight: 600;
	margin-left: -3px;
}
.home .home-content .text-3{
	font-size: 30px;
	margin: 5px 0;
}
.home .home-content .text-3 span{
	color: darkorange;
	font-weight: 500;
}
.home .home-content a {
	display: inline-block;
	background: darkorange;
	color: #FFF;
	font-size: 20px;
	padding: 12px 36px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid darkorange;
	transition: all 0.3s ease;
}
.home .home-content a:hover {
		color: darkorange;
	background: none;
}

/* all similar styling code */
section {
	padding: 100px 0;
}
.about, .services, .projects, .projects, .contact, footer {
	font-family: 'Ubuntu', 'sans-serif';
}
.about .about-content,
.services .serv-content,
.projects .projects-content,
.contact .contact-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
section .title {
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family: 'Ubuntu', 'sans-serif';
}
section .title::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 300px;
	height: 3px;
	background: #fff;
	transform: translateX(-50%);
}
section .title::after {
	position: absolute;
	bottom: -12px;
	left: 50%;
	font-size: 20px;
	color: darkorange;
	padding: 5px;
	background: #0E0F34;
	transform: translateX(-50%);
}

/* About section styling */
.about {
	background: #202746;
}
.about .title::after {
	content: "qui suis-je ?";
	background: #202746;
}
.about .about-content .left {
	width: 45%;
}
.about .about-content .left img {
	height: 400px;
	width: 400px;
	object-fit: cover;
	border-radius: 6px;
}
.about .about-content .right {
	width: 55%;
}
.about .about-content .right .text{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 30px;
}
.about .about-content .right .text span {
	color: darkorange;
}
.about .about-content .right p::first-letter {
	color: darkorange;
	font-size: 45px;
}
.about .about-content .right p {
	text-align: justify;
	line-height: 2;
}
.about .about-content .right a {
	display: inline-block;
	background: darkorange;
	color: #FFF;
	font-size: 20px;
	font-weight: 500;
	padding: 10px 30px;
	margin-top: 40px;
	border-radius: 6px;
	border: 2px solid darkorange;
	transition: all 0.3s ease;
}
.about .about-content .right a:hover {
	color: darkorange;
	background: none;
}
/* services section styling */
.services {
	color: #FFF;
}
.services .title::before,
.projects .title::before{
	background: #FFFFFF;
}
.services .title::after{
	content: "compétences ";
}
.services .serv-content .card {
	width: calc(33% - 20px);
	background: #202746;
	text-align: center;
	border-radius: 6px;
	padding: 20px 25px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.services .serv-content .card:hover {
	background: darkorange;
	border-color: #202746;
}
.services .serv-content .card .box{
	transition: all 0.3s ease;
}
.services .serv-content .card:hover .box {
	transform: scale(1.05);
}
.services .serv-content .card i{
	font-size: 70px;
	color: darkorange;
	transition: color 0.3s ease;
}
.services .serv-content .card:hover i {
	color: #FFFFFF;
}
.services .serv-content .card .text{
	font-family: 'Playfair Display', 'sans-serif';
	font-size: 30px;
	font-weight: 500;
	margin: 10px 0 10px 0;
	text-transform: uppercase;
}
.services .serv-content .card p {
	font-size: 17px;
	line-height: 1.5;
}

/* projects section styling */
.projects {
	background: #202746;
}
.projects .title::after {
	content: "réalisations";
	background: #202746;
}
.projects .carousel .card {
}
.projects .carousel .box {
	border-radius: 6px 6px 0 0;
	background: #0E0F34;
	border-bottom: 2px solid darkorange;
	overflow: hidden;
}
.projects .carousel .project-picture {
	border-radius: 6px 6px 0 0;
	width: 100%;
	overflow: hidden;
	height: 300px;
	transition: transform ease 1s;
}
.projects .box:hover > .project-picture {
	opacity: 0.4;
	transform: scale(1.105);
}
.projects .carousel .card img {
	height: 300px;
	width: 100%;
	object-fit: cover;
	display: block;
	transition: all 0.5s ease 0s;
	opacity: 1;
}
.projects .carousel .tags {
	font-size: 12px;
	color: darkorange;
	margin-left: 50px;
	text-transform: uppercase;
	margin-top: 30px;
}
.projects .card .project-title {
	margin: 25px 50px;
	font-size: 28px;
	font-family: 'Playfair Display', 'sans-serif';
	text-transform: uppercase;
}
.projects .card .text {
	text-align: justify;
	margin: 25px 35px 55px 35px;
}
.projects .card .text {
	text-align: justify;
	margin: 25px 35px 55px 35px;
}

.carousel {
	cursor: grab;
}

.tns-nav{
	margin: 20px 25px;
}
.tns-nav .tns-nav-active {
	background-color: darkorange;
}

.tns-nav button{
	width: 20px;
	height: 4px;
	margin: 0 5px;
	outline: none!important;
	transition: all 0.3s ease;
	border: 0 solid;
	background: #ff8c0052;
	cursor: pointer;
}

/* section contact styling */
.contact .title::after{
	content: "prenez contact";
}
.contact .contact-content .column {
	width: calc(50% - 30px);
}
.contact .contact-content .text {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 25px;
}
.contact .contact-content .left p {
	text-align: justify;
}
.contact .contact-content .left .icons {
	margin: 10px 0;
	display: flex;
	flex-direction: column;
}
.contact .contact-content .row:hover {
	border-color: darkorange;
}
.contact .contact-content .row {
	display: flex;
	height: 90px;
	align-items: center;
	border: 1px solid #ff8c0059;
	border-radius: 15px;
	padding: 0 45px;
	margin: 15px 0;
	transition: all .5s ease 0ms;
}
.contact .contact-content .row .info {
	margin-left: 30px;
}
.contact .contact-content .row i {
	font-size: 25px;
	color: darkorange;
}
.contact .contact-content .info .head {
	font-weight: 500;
	font-size: 25px;
	text-transform: uppercase;
	font-family: 'Playfair Display', 'sans-serif';
	margin-bottom: 5px;
	color: #FFFFFF;
}
.contact .contact-content .info .sub-title {
	color: darkorange;
}
.contact .right form .fields {
	display: flex;
	justify-content: space-between;

}
.contact .right form .field{
	height: 65px;
	width: 100%;
	margin-bottom: 15px;
}
.contact .right form .smallfield{
	width: 48%;
}
.contact .right form .textarea {
	height: 130px;
	width: 100%;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
	height: 100%;
	width: 100%;
	border : 1px solid lightgrey;
	border-radius: 6px;
	outline: none;
	padding: 0 25px;
	font-size: 17px;
	font-family: 'Poppins', 'sans-serif';
}
.contact .right form .textarea textarea{
	padding-top: 10px;
	resize: none;
}
.contact .right form .button {
	height: 60px;
	width: 170px;
	margin:auto;
	margin-top: -40px !important;
	margin-bottom: 15px;
}
.contact .right form .button button {
	width: 100%;
	height: 100%;
	border : 2px solid darkorange;
	background: darkorange;
	color: #FFF;
	font-size: 20px;
	font-weight: 500;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.contact .right form .button button:hover {
	color: darkorange;
	background: none;
	border : 2px solid;
}

/* footer section styling */
footer {
	background: #040526;
	padding: 20px 23px;
	color:  #FFFFFF;
	text-align: center;
}
footer span a {
	color: darkorange;
	text-decoration: none;
}
footer span a:hover {
	text-decoration: underline;
}








/* Responsive media query start */
@media (max-width: 1300px){
	.home .max-width {
		margin-left: 0;
	}
}

@media (max-width: 1104px){
	.about .about-content .left img {
		height: 350px;
		width: 350px;
	}
}

@media (max-width: 991px){
	.max-width{
		padding: 0 50px;
	}
}

@media (max-width: 947px){
	.menu-btn{
		display: block;
		z-index: 999;
	}
	.menu-btn i.active:before {
		content: "\f00d";
	}
	.navbar .menu {
		position:fixed;
		height: 100vh;
		width: 100%;
		left: -100%;
		top: 0;
		background: #111;
		text-align: center;
		padding-top: 80px;
		transition: all 0.3s ease;
	}
	.navbar .menu.active{
		left: 0;
	}
	.navbar .menu li {
		display: block;
	}
	.navbar .menu li a{
		display: inline-block;
		margin: 25px 0;
		font-size: 25px;
	}
	.home .home-content .text-2{
		font-size: 70px;
	}
	.home .home-content .text-3{
		font-size: 20px;
	}
	.home .home-content a {
		font-size: 23px;
		padding: 10px 30px;
	}
	.max-width{
		max-width: 800px;
	}
	.about .about-content .column{
		width: 100%;
	}
	.about .about-content .left	{
		display: flex;
		justify-content: center;
		margin: 0 auto 60px;
	}
	.about .about-content .right	{
		flex: 100%;
	}
	.services .serv-content .card {
		width: calc(50% - 10px);
		margin-bottom: 20px;
	}
	.projects .projects-content .column,
	.contact .contact-content .column{
		width: 100%;
		margin-bottom: 35px;
	}
}

/* only for the main picture */
@media (max-width: 860px) {
	.home .picture img {
		width: 0;
		height: 0;
	}
	.home .picture{
		margin: 0;
	}
	.home .max-width {
		margin: auto;
		text-align : center;
	}
}
@media (max-width: 690px){
	.max-width{
		padding: 0 23px;
	}
	.home .home-content .text-2{
		font-size: 60px;
	}
	.home .home-content .text-3{
		font-size: 32px;
	}
	.home .home-content a {
		font-size: 20px;
	}
	.services .serv-content .card{
		width: 100%;
	}
}

@media (max-width: 500px){
	.home .home-content .text-2{
		font-size: 50px;
	}
	.home .home-content .text-3{
		font-size: 27px;
	}
}


::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb {
	background: darkorange;
	border-radius: 5px;
}
